{% extends 'main/layout.html' %}

{% block title %}
{{ title }}
{%endblock%}

{% block body %}

<content>
    <div class="row content">
        <div class="row col-12 head">
            <div class="col-md-5 d-flex justify-content-center">
            <img src="static/main/img/Alsome.png" class="me_photo" alt="me :D">

        </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-4 name_main">
                KUNTSO VADYM
                <p class="age">
                    {{words.age}}
                </p>
                <a href="{% url 'change' %}">
                <button type="button" class="btn btn-dark">{{words.lang}}</button>
                    </a>
            </div>


        </div>
    <div class="col-md-6 main-left " >


        <br >
        <div class="inform_blocks">
            <h2>{{ words.contact }}</h2>
            <hr class="br_contacts"  class="hr_contacts">
            <a href="tel:+380995652003" class="contacts_link">
                (099) 56-52-003
            </a>
            <br class="contacts">
            <a href="mailto:vadym.kuntso1@gmail.com" class="contacts_link">
                vadym.kuntso1@gmail.com
            </a>
            <br>
            <a href="https://t.me/KVS17 " class="contacts_link">
                @kvs17
            </a>
        </div>
        <div class="inform_blocks">
            <h2 class="inform-title">{{words.aboutme}}</h2>
            <hr class="br_contacts"  class="hr_contacts">
            {{words.ab1}}
        </div>
        <div class="inform_blocks">
            <h2 class="inform-title">{{words.Skills}}</h2>
            <hr class="br_contacts"  class="hr_contacts">
            <ul class="skill_li">
                <li>{{words.sk1}}</li>
                <li>{{words.sk2}}</li>
                <li>{{words.sk3}}</li>
                <li>{{words.sk4}}</li>
            </ul>
        </div>

    </div>



    <div class="col-md-6 main-right">

        <div class="inform_blocks">
            <h2 class="inform-title">{{words.Experience}}</h2>
            <hr class="br_contacts"  class="hr_contacts">
            <h4>IT STEP<br></h4>
            <h6>{{words.exp1}}</h6>
        </div>
        <div class="inform_blocks">
            <h2 class="inform-title">{{words.Education}}</h2>
            <hr class="br_contacts"  class="hr_contacts">
            <h4>{{words.edt}}<br></h4>
            <h6>{{words.ed1}}</h6>
            <h6>{{words.ed2}}</h6>
        </div>
        <div class="inform_blocks">
            <h2 class="inform-title">{{words.Stack}}</h2>
            <hr class="br_contacts"  class="hr_contacts">
            <ul class="stack_li">
                <li >HTML/CSS/Less/Bootstrap</li>
                <li>C++/C#/.Net/.Net Core/ASP.Net(MVC)/Entity Framework/Xamarin </li>
                <li>Python/Django/Tkinter</li>
                <li>SQL</li>
                <li>Git</li>
            </ul>
        </div>
</div>
    </div>

</content>




{%endblock%}

