{% extends 'main/layout.html' %}

{% block title %}
Головна
{%endblock%}

{% block body %}
<content>
    <div class="row content">
        <div class="row col-12 head">
            <div class="col-md-5 d-flex justify-content-center">
            <img src="static/main/img/me1.jpg" class="me_photo" alt="me :D">

        </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-4 name_main">
                KUNTSO VADYM
                <p class="age">
                    21 age
                </p>
            </div>


        </div>
    <div class="col-md-6 main-left " >


        <br >
        <div class="inform_blocks">
            <h2>Contacts</h2>
            <hr class="br_contacts"  class="hr_contacts">
            <a href="tel:+380995652003" class="contacts_link">
                (099) 56-52-003
            </a>
            <br class="contacts">
            <a href="mailto:vadym.kuntso1@gmail.com" class="contacts_link">
                vadym.kuntso1@gmail.com
            </a>
            <br>
            <a href="https://t.me/KVS17 " class="contacts_link">
                @kvs17
            </a>
        </div>
        <div class="inform_blocks">
            <h2 class="inform-title">About me</h2>
            <hr class="br_contacts"  class="hr_contacts">
            A teacher with two years of experience. Provider of individual lessons.
        </div>
        <div class="inform_blocks">
            <h2 class="inform-title">Skills</h2>
            <hr class="br_contacts"  class="hr_contacts">
            <ul class="skill_li">
                <li>I quickly learn new fields and technologies</li>
                <li>Good communication skills</li>
                <li>A wide technology stack</li>
                <li>Intermediate level of English</li>
            </ul>
        </div>

    </div>



    <div class="col-md-6 main-right">

        <div class="inform_blocks">
            <h2 class="inform-title">Experience</h2>
            <hr class="br_contacts"  class="hr_contacts">
            <h4>IT STEP<br></h4>
            <h6>LECTOR FOR 2 YEARS</h6>
        </div>
        <div class="inform_blocks">
            <h2 class="inform-title">Education</h2>
            <hr class="br_contacts"  class="hr_contacts">
            <h4>Bachelor's degree, specialization - software engineering<br></h4>
            <h6>Husyatyn College of Ternopil National Technical University named after Ivan Pulyu | 2016-2020</h6>
            <h6>Ternopil National Technical University named after Ivan Pulyu | 2020</h6>
        </div>
        <div class="inform_blocks">
            <h2 class="inform-title">Stack</h2>
            <hr class="br_contacts"  class="hr_contacts">
            <ul class="stack_li">
                <li >HTML/CSS/Less/Bootstrap</li>
                <li>C++/C#/.Net/.Net Core/ASP.Net(MVC)/Entity Framework/Xamarin </li>
                <li>Python/Django/Tkinter</li>
                <li>SQL</li>
                <li>Git</li>
            </ul>
        </div>
</div>
    </div>

</content>




{%endblock%}

