{% extends 'main/layout.html' %}

{% block title %}
{{ title }}
{%endblock%}

{% load static %}
<html>


{% block body %}
    <form method="post">
        {% csrf_token %}

        <div class="input-group input-group-sm mb-3">

            <span class="input-group-text" id="inputGroup-sizing-sm">Loggin</span>
            {{form.login}}
            <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
            {{form.password}}
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        {{error}}
    </form>





{%endblock%}