{% extends 'main/layout.html' %}

{% block title %}
{{ title }}
{%endblock%}

{% load static %}
<html>


{% block body %}
<div class="content">

    <table class="table">
        <tr>
            <td class="col">ID</td>
            <td class="col">NAME</td>
            <td class="col">REMOVE</td>
      </tr>
    {% for el in list1%}
    <tr>
       <td>
            {{ el.id }}
        </td>
        <td>
            {% filter upper%}
                {{el.name}}
            {% endfilter %}
        </td>
        <td>
            <a href="{% url 'remove' el.id %}">X</a>
        </td>
    </tr>
    {%endfor%}
    </table>
    <form method="post">
        {% csrf_token %}

        <div class="input-group input-group-sm mb-3">

            <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
            {{form.name}}
            <button type="submit" class="btn btn-primary">Add new</button>
        </div>
        {{error}}
    </form>
</div>
<a href="{% url 'new' %}">Add</a>
{%endblock%}